<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>Controllers.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartAppServlet</servlet-name>
        <servlet-class>Controllers.StartAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Controllers.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <servlet-class>Controllers.DeleteFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductQuantityInCartServlet</servlet-name>
        <servlet-class>Controllers.UpdateProductQuantityInCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controllers.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewBookServlet</servlet-name>
        <servlet-class>Controllers.CreateNewBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectProductServlet</servlet-name>
        <servlet-class>Controllers.SelectProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>Controllers.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>Controllers.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVoucherServlet</servlet-name>
        <servlet-class>Controllers.CreateVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyVoucherSevlet</servlet-name>
        <servlet-class>Controllers.ApplyVoucherSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>Controllers.PayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>Controllers.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryInDetailServlet</servlet-name>
        <servlet-class>Controllers.HistoryInDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartAppServlet</servlet-name>
        <url-pattern>/StartAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <url-pattern>/DeleteFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductQuantityInCartServlet</servlet-name>
        <url-pattern>/UpdateProductQuantityInCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewBookServlet</servlet-name>
        <url-pattern>/CreateNewBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectProductServlet</servlet-name>
        <url-pattern>/SelectProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVoucherServlet</servlet-name>
        <url-pattern>/CreateVoucherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyVoucherSevlet</servlet-name>
        <url-pattern>/ApplyVoucherSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/PayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryInDetailServlet</servlet-name>
        <url-pattern>/HistoryInDetailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>BookStore</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
</web-app>
