/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2021, 8:03:04 PM
    Author     : ngoct
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}

.container{
    width: 700px;
    top: 10px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #23E3C9;
}

.title h1{
    font-size: 36px;
    font-weight: bold;
    color: #0D5BC6;
}
.main{
    display: flex;
    border-bottom: 1px solid #23E3C9;
}

.user-information,.cart-information{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: flex-start;
}

.cart-information{
    width: 500px;
}

.block{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.line{
    border-right: 1px solid #23E3C9;
}

.user-information-title{
    text-align: center;
    color: #23E3C9;
}
.cart-information-title{
    color: #23E3C9;
    width: 100%;
    text-align: center;
}
.quantity-text{
    width: 62px;
    text-align: center;
}
.btn-Pay{
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: red;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.btn-Pay:hover{
    opacity: 0.7;
}
.apply-voucher-btn{
    margin-left: 38px;
    width: 100.34px;
}
.delete-icon{
    width: 28px;
    height: 28px;
    object-fit: contain;
    margin: 0 15px;
    transition: transform .2s;
}

.delete-icon:hover{
    transform: scale(1.25);
}

.cart-empty{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px 200px;
}

.cart-empty-title{
    color: #23E3C9;
}

.cart-empty-link{
    text-align: center;
    color: #23E3C9;
}
.message{
    font-size: 18px;
    color: red;
}